# Copyright (c) 2024 will-hedges <https://github.com/will-hedges>
# SPDX-License-Identifier: MIT

if SHIELD_ORTHO48

config ZMK_KEYBOARD_NAME
	default "ortho48"


if ZMK_BACKLIGHT

config PWM
	default y

config LED_GPIO
	default n if LED_PWM

endif


endif
